

.navbar{
	margin-bottom: 0px;
}
.navbar-nav{
	padding-top: 7px;
}
.navbar-default{
	background-color: transparent;
	border: none;
}
.navbar-brand {
    padding-top: 10px;
}
.header-left .navbar-default .navbar-nav > li{
    padding: 0 15px;
}
.header-left .navbar-default .navbar-nav > li > a{
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
    white-space: nowrap;
    padding: 15px 1px 1px 1px;
}

.header-left .navbar-default .navbar-nav > li > a.meactive{
	border-bottom: 2px solid #00AAEB;
    color: #00AAEB;
}
.header-left .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid #00AAEB;
    color: #00AAEB;
}
.navbar-default .navbar-toggle {
    border-color: #00aaeb;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #00aaeb;
}
.wrapper .content-body .navbar-nav {
		float:none;
		margin:0 auto;
		display: block;
		text-align: center;
}
.wrapper .content-body .navbar-nav>li {
		display: inline-block;
		float:none;
		padding: 0 10px;
}
.wrapper .content-body .navbar-nav>li > a{
		color: #022466;
		text-decoration: none;
		font-size: 18px;
		padding: 5px 0px;
		text-transform: uppercase;
		display: inline;
		line-height: 30px;
		cursor: pointer;
}
.wrapper .content-body .navbar-nav>li > a:hover{
		color: #FFF;
		border-bottom: 2px solid #FFF;
}

@media screen and (min-width: 767px) and (max-width: 1024px){
	.header-left .navbar-default .navbar-nav > li:first-child > a{
		padding-left: 0px;
	}
	.header-left .navbar-nav {
    	margin-left: -15px;
		background: #0A7DC0;
	}
	.wrapper .content-header .header-right{
		width: 55%;
	}
	.header-left .navbar-nav{
		padding-left: 0px;
		width: 82%;
	}
}

/* xs < 768 */
@media screen and (max-width: 767px) {
	.header-left .navbar-nav {
    	margin: 0;
    	background: #0A7DC0;
	}
	.wrapper .content-body .navbar-nav>li {
		display: block;
		float: none;
	}
	.wrapper .content-body{
		padding-top: 340px;
	}
	.wrapper .content-body .body-top{
		padding: 10px 0px;
	}
    .wrapper .content-body .body-top-title{
    	font-size: 18px;
		margin-bottom: 5px;
    }
    .wrapper .content-body .navbar-nav .body-menu-active{
		color: #FFF;
		border-bottom: 2px solid #FFF;
	}
    .wrapper .content-body .navbar-nav>li > a{
		font-size: 12px;
		border-bottom: 2px solid transparent;
	}
	.wrapper .content-body .navbar-nav>li > a:hover{
			border-bottom: 2px solid #FFF;
	}
	.wrapper .content-body .body-bottom .text-whatwedo{
		font-size: 18px;
	}
	.wrapper .content-body .body-bottom .text-whatwedo hr {
	    width: 70px;
	    height: 2px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-title{
		font-size: 13px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-data table tr td{
		font-size: 11px;
	}
	.set-no-padding{
		padding-left: 0;
		padding-right: 0;
	}
	.wrapper .content-footer .footer-bottom .add-text{
		font-size: 15px;
		padding-bottom: 5px;
	}
	.wrapper .content-footer .footer-bottom .add-data{
		padding-top: 5px;
	}
	.set-hide{
		display: block;
	}
	.set-hide1{
		display: none;
	}
	.slide-contact{
		top: 60px;
		padding: 5px 5px 5px 10px;
		text-align: right;
	}
	.slide-contact-span1{
		font-size: 12px;
		margin-right: 5px;
		color: #FFF;
	}
	.slide-contact-span2{
		font-size: 13px;
		border-radius: 50px;
		border: 2px solid #FFF;
		padding: 1px 4px;
		margin-right: 5px;
		color: #FFF;
	}
	.slide-contact-span3{
		font-size: 10px;
		font-weight: bold;
		margin-right: 5px;
		color: #FFF;
	}
	.slide-contact-span4{
		font-size: 12px;
		font-weight: bold;
		color: #FFF;
	}
	.slide-contact-span5{
		font-size: 10px;
		text-align: center;
		padding-top: 5px;
		color: #FFF;
	}
	.content-text-digital{
		top: 240px;
		left: 20px;
    }
	.slide-text1{
		font-size: 30px;
	}
	.slide-text2{
		font-size: 10px;
	}
	.slide-text3{
		font-size:7px;
		padding-top: 0px;
	}
	.wrapper .content-slider{
		width: 100%;
		height: 280px;
		top: 60px;
	}
}

/* sm */
@media screen and (min-width: 768px) {
	.wrapper .content-body{
		padding-top: 460px;
	}
	.wrapper .content-body .body-top{
		padding: 20px 0px;
	}
    .wrapper .content-body .body-top-title{
    	font-size: 20px;
		margin-bottom: 10px;
    }
    .wrapper .content-body .navbar-nav .body-menu-active{
		color: #FFF;
		border-bottom: 2px solid #FFF;
	}
    .wrapper .content-body .navbar-nav>li > a{
		font-size: 14px;
		border-bottom: 2px solid transparent;
	}
	.wrapper .content-body .navbar-nav>li > a:hover{
			border-bottom: 2px solid #FFF;
	}
	.wrapper .content-body .body-bottom .text-whatwedo{
		font-size: 20px;
	}
	.wrapper .content-body .body-bottom .text-whatwedo hr {
	    width: 80px;
	    height: 2px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-title{
		font-size: 15px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-data table tr td{
		font-size: 12px;
	}
	.wrapper .content-footer .footer-bottom .add-text{
		font-size: 16px;
		padding-bottom: 10px;
	}
	.wrapper .content-footer .footer-bottom .add-data{
		padding-top: 10px;
	}
	.set-hide{
		display: none;
	}
	.slide-contact{
		top: 60px;
		padding: 10px 10px 10px 20px;
		text-align: right;
	}
	.slide-contact-span1{
		font-size: 15px;
		margin-right: 5px;
	}
	.slide-contact-span2{
		font-size: 14px;
		border-radius: 50px;
		border: 2px solid #FFF;
		padding: 1px 5px;
		margin-right: 5px;
	}
	.slide-contact-span3{
		font-size: 12px;
		font-weight: bold;
		margin-right: 5px;
	}
	.slide-contact-span4{
		font-size: 15px;
		font-weight: bold;
	}
	.slide-contact-span5{
		font-size: 11px;
		text-align: center;
		padding-top: 5px;
	}
	.content-text-digital{
		top: 270px;
		left: 40px;
    }
	.slide-text1{
		font-size: 60px;
	}
	.slide-text2{
		font-size: 18px;
	}
	.slide-text3{
		font-size: 11px;
		padding-top: 10px;
	}
	.wrapper .content-slider{
		top: 60px;
		width: 100%;
		height: 400px;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.header-left .navbar-default .navbar-nav > li {
	    padding: 0 9px;
	}
}

/* md */
@media screen and (min-width: 992px) {
	.wrapper .content-body{
		padding-top: 560px;
	}
	.wrapper .content-body .body-top{
		padding: 30px 0px;
	}
    .wrapper .content-body .body-top-title{
    	font-size: 24px;
		margin-bottom: 15px;
    }
    .wrapper .content-body .navbar-nav .body-menu-active{
		color: #FFF;
		border-bottom: 2px solid #FFF;
	}
    .wrapper .content-body .navbar-nav>li > a{
		font-size: 16px;
		border-bottom: 2px solid transparent;
	}
	.wrapper .content-body .navbar-nav>li > a:hover{
			border-bottom: 2px solid #FFF;
	}
	.wrapper .content-body .body-bottom .text-whatwedo{
		font-size: 24px;
	}
	.wrapper .content-body .body-bottom .text-whatwedo hr {
	    width: 90px;
	    height: 3px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-title{
		font-size: 15px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-data table tr td{
		font-size: 12px;
	}
	.wrapper .content-footer .footer-bottom .add-text{
		font-size: 17px;
		padding-bottom: 15px;
	}
	.wrapper .content-footer .footer-bottom .add-data{
		padding-top: 15px;
	}
	.set-hide{
		display: none;
	}
	.slide-contact{
		top: 60px;
		padding: 20px 20px 20px 25px;
		text-align: right;
	}
	.slide-contact-span1{
		font-size: 16px;
		margin-right: 5px;
	}
	.slide-contact-span2{
		font-size: 16px;
		border-radius: 50px;
		border: 2px solid #FFF;
		padding: 1px 5px;
		margin-right: 5px;
	}
	.slide-contact-span3{
		font-size: 14px;
		font-weight: bold;
		margin-right: 5px;
	}
	.slide-contact-span4{
		font-size: 17px;
		font-weight: bold;
	}
	.slide-contact-span5{
		font-size: 12px;
		text-align: center;
		padding-top: 5px;
	}
	.content-text-digital{
		top: 220px;
		left: 40px;
    }
	.slide-text1{
		font-size: 80px;
	}
	.slide-text2{
		font-size: 25px;
	}
	.slide-text3{
		font-size: 15px;
		padding-top: 10px;
	}
	.wrapper .content-slider{
		top: 60px;
		width: 100%;
		height: 500px;
	}
}

/* lg */
@media screen and (min-width: 1200px) {
	.header-left .navbar-nav{
		padding-left: 90px;
	}
	.wrapper .content-body{
		padding-top: 50%;
	}
	.wrapper .content-body .body-top{
		padding: 70px 0px 15px 0px;
	}
    .wrapper .content-body .body-top-title{
    	font-size: 32px;
		margin-bottom: 20px;
    }
    .wrapper .content-body .navbar-nav .body-menu-active{
		color: #FFF;
		border-bottom: 2px solid #FFF;
	}
    .wrapper .content-body .navbar-nav>li > a{
		font-size: 18px;
		border-bottom: 2px solid transparent;
	}
	.wrapper .content-body .navbar-nav>li > a:hover{
			border-bottom: 2px solid #FFF;
	}
	.wrapper .content-body .body-bottom .text-whatwedo{
		font-size: 32px;
	}
	.wrapper .content-body .body-bottom .text-whatwedo hr {
	    width: 100px;
	    height: 3px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-title{
		font-size: 15px;
	}
	.wrapper .content-body .body-bottom .content-wedo .wedo-data table tr td{
		font-size: 12px;
	}
	.wrapper .content-footer .footer-bottom .add-text{
		font-size: 18px;
		padding-bottom: 20px;
	}
	.wrapper .content-footer .footer-bottom .add-data{
		padding-top: 20px;
	}
	.set-hide{
		display: none;
	}
	.slide-contact{
		top: 60px;
		padding: 30px 30px 30px 40px;
		text-align: right;
	}
	.slide-contact-span1{
		font-size: 19px;
		margin-right: 25px;
	}
	.slide-contact-span2{
		font-size: 20px;
		border-radius: 50px;
		border: 2px solid #FFF;
		padding: 3px 8px;
		margin-right: 25px;
	}
	.slide-contact-span3{
		font-size: 16px;
		font-weight: bold;
		margin-right: 5px;
	}
	.slide-contact-span4{
		font-size: 19px;
		font-weight: bold;
	}
	.slide-contact-span5{
		font-size: 14px;
		text-align: center;
		padding-top: 10px;
	}
	.content-text-digital{
		top: 370px;
		left: 45px;
    }
	.slide-text1{
		font-size: 100px;
	}
	.slide-text2{
		font-size: 30px;
	}
	.slide-text3{
		font-size: 17px;
		color: #e7e8ea;
		text-transform: uppercase;
		padding-top: 10px;
	}
	.wrapper .content-slider{
		width: 100%;
		height: 100%;
	}
}