/*######### ADD PLUGIN FONT #########*/
@font-face{
    font-family: "Myriad-Pro";  
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}
/*######### END PLUGIN FONT #########*/
/*######### CLEAR DIV BOTH #########*/
.clear{
	clear:both;
}
.left{
	float: left;
}
/*######### END CLEAR DIV BOTH #########*/
html ,body, h1,h2,h3,h4,h5,h6,p,span,strong{
	font-family: Myriad-Pro;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
body{
	background: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.wrapper{
	/*background: #FFF;*/
}
.page-size{
	width: 70%;
	margin: 0 auto;
}
.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.wrapper .content-header{
    background: url("../images/top_bg.jpg") repeat;
    position: fixed;
    width: 100%;
    height: 60px; 
    z-index: 999;
}
.header-social-bg{
	position: absolute;
	right: 0;
	background: #159ED4;
	width: 20%;
	height: 60px;
	z-index: 1000;
}
.wrapper .content-header .header-right{
	text-align: right;
	height: 60px;
	background: url("../images/top_bgright.jpg") no-repeat right;
	padding-top: 17px;
	top: 0;
	position: absolute;
	padding-right: 30%;
	right: 0;
	width: 34%;
}
.wrapper .social ul{
	padding-left:0px; 
	padding-right: 15px;
}
.wrapper .social ul li{
	display: inline;
	padding: 1px;
}
.text-make-easy{
	color: #FFF;
	position: absolute;
	right: 150px;
	top: 19px;
}
.wrapper .content-body{
	/*background: #FFF;*/
	/*padding-top: 50%;*/
}
.wrapper .content-body .body-top{
	background: url("../images/top_03.jpg");
}
.wrapper .content-body .body-top-title{
	text-align: center;
	color: #FFF;
	font-size: 32px;
}
.wrapper .content-body .body-top-menu{
	text-align: center;
	padding-top: 20px;
}
.wrapper .content-body .body-top-menu ul{
	list-style: none;
	padding: 0;
}
.wrapper .content-body .body-top-menu ul li{
	display: inline;
	padding: 5px 20px;
}
.wrapper .content-body .body-top-menu ul li a{
	color: #022466;
	text-decoration: none;
	font-size: 18px;
	padding: 5px 10px;
	text-transform: uppercase;
}
.wrapper .content-body .body-top-menu ul li a:hover{
	color: #FFF;
	border-bottom: 2px solid #FFF;
}
.wrapper .content-body .body-top-menu .body-menu-active{
	color: #FFF;
	border-bottom: 2px solid #FFF;
}
.wrapper .content-body .body-middle{
	width: 100%;
	background: #FFF;
}
.wrapper .content-body .body-middle .c-img-body{
	width: 25%;
	float: left;
}
.wrapper .content-body .body-middle img{
	width: 100%;
	height: 250px;
	border:none;
}
.wrapper .content-body .body-bottom{
	background: #FFF;
}
.wrapper .content-body .body-bottom .text-whatwedo{
	font-size: 32px;
	color: #000;
	text-align: center;
	padding: 30px;
}
.wrapper .content-body .body-bottom .text-whatwedo hr{
	width: 100px;
	background-color: #0000ff;
	height: 3px;
	margin-top: 0;
	margin-bottom: 0;
}
.wrapper .content-body .body-bottom .content-wedo .c-wedo{
	width: 315px;
	float: left;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-left{
}
.wrapper .content-body .body-bottom .content-wedo .wedo-center{
	margin-left: 22px;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-right{
	margin-left: 22px;
}
.wrapper .content-body .body-bottom .c-img-wedo{
	height: 256px;
	width: 100%;
}
.wrapper .content-body .img-wedo{
	height: 256px;
	width: 100%;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-data{
	width: 90%;
	margin-left: 5%;
	margin-top: -60px;
	border-top:3px solid #0000ff;
	background: #FFF;
	padding: 10px;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-title{
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-data table{
	width: 100%;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-data table tr td{
	padding: 7px 0;
}
.wrapper .content-body .body-bottom .content-wedo .wedo-data table tr td a{
	color: #4e4e4e;
}
.wrapper .content-footer{
	background: #FFF;
	padding-top: 50px;
}
.wrapper .content-footer .footer-advertise{
	margin-bottom: 50px;
	height: 115px;
	background: #eaeaea;
}
.wrapper .content-footer .footer-advertise .content-ads-img{
	padding-top: 40px;
}
.wrapper .content-footer .footer-advertise .als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
}

.wrapper .content-footer .footer-advertise .als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.wrapper .content-footer .footer-advertise .als-wrapper {
	position: relative;
	list-style: none;
}

.wrapper .content-footer .footer-advertise .als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}
.wrapper .content-footer .footer-advertise #list-ads ul{
	padding-left: 0;
}
.wrapper .content-footer .footer-advertise #list-ads .als-item {
	margin: 0px 20px;
}

.wrapper .content-footer .footer-advertise #list-ads .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}
.wrapper .content-footer .footer-bottom .footer-bottom-left{
	width: 300px;
	padding-right: 40px;
	float: left;
}
.wrapper .content-footer .footer-bottom .text-core-value{
	font-size: 18px;
}
.wrapper .content-footer .footer-bottom .core-value-data ul{
	list-style: none;
	padding: 0;
}
.wrapper .content-footer .footer-bottom .core-value-data ul li{
	border-bottom: 1px solid #bababa;
}
.wrapper .content-footer .footer-bottom .core-value-data ul li a{
	line-height: 35px;
	cursor: pointer;
}
.wrapper .content-footer .footer-bottom .core-value-data ul li .core-text{
	float: left;
	color: #4d4d4d;
}
.wrapper .content-footer .footer-bottom .core-value-data ul li .core-plus{
	float: right;
}
.wrapper .content-footer .footer-bottom .footer-address{
	width: 220px;
	float: left;
}
.wrapper .content-footer .footer-bottom .footer-contact{
	width: 220px;
	float: left;
}
.wrapper .content-footer .footer-bottom .footer-follow{
	width: 220px;
	float: left;
}
.wrapper .content-footer .footer-bottom .add-text{
	color: #0000FF;
	font-size: 18px;
	padding-bottom: 20px;
	border-bottom: 1px solid #bababa;
}
.wrapper .content-footer .footer-bottom .contact-text{
	border-bottom: 1px solid #4d4d4d;
}
.wrapper .content-footer .footer-bottom .add-data{
	padding-top: 20px;
}
.wrapper .content-footer .footer-bottom .footer-p{
	color: #4d4d4d;
	font-size: 13px;
	line-height: 22px;
}

/*  Social icon  */

.content-header .icon-button {
	background-color: #FFF;
}
.icon-button {
	background-color: #bababa;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.0rem;
	height: 2.5rem;
	line-height: 2.6rem;
	margin: 0 0px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.5rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.0rem;
	height: 3.0rem;
	border-radius: 3.6rem;
	margin: -1.5rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}
.linkedin span {
	background-color: #0177b5;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.5rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.5rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button .icon-linkedin {
	color: #0177b5;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .icon-linkedin {
	color: white;
	font-size: 1.5rem;
}

.content-core{
	background: #EAEAEA;
	display: none;
	padding: 5px;
	font-size: 13px;
}

/* Image effect */

.view {
   overflow: hidden;
   text-align: center;
   cursor: default;
}
.view .mask, .view .content{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   background:url(../img/link.png) center no-repeat rgba(255,255,255,0.3);
   display: inline-block;
   text-decoration: none;
   width: 60px;
   height: 60px;
   border-radius: 50px;
   text-indent:-9999px;
}
.view a.info:hover {
   background:url(../img/link.png) center no-repeat rgba(0,0,0,0.5);
}
.view a.img-name {
   display: inline-block;
   text-decoration: none;
   padding:0px;
   color: #FFF;
   font-weight: bold;
   line-height: 40px;
}
.view a.img-name:hover {
   text-decoration: underline;
}

.effect img {
   opacity:1;
   -moz-transform:scale(1,1);
   -webkit-transform:scale(1,1);
   -o-transform:scale(1,1);
   -ms-transform:scale(1,1);
   transform:scale(1,1);
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.effect .mask {
   opacity:0;
   overflow:visible;
   width:0;
   height:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   -webkit-transition: -webkit-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   -o-transition: -o-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   -ms-transition: -ms-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   transition: transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
}
.effect a.info {
	opacity:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;

}
.effect a.img-name {
   opacity:0;
   -moz-transform:translateX(-125px);
   -webkit-transform:translateX(-125px);
   -o-transform:translateX(-125px);
   -ms-transform:translateX(-125px);
   transform:translateX(-125px);
   -moz-transition: -moz-transform 0.4s ease-in, opacity 0.1s ease-in-out;
   -webkit-transition: -webkit-transform 0.4s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.4s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.4s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.4s ease-in, opacity 0.1s ease-in-out;

}
.effect:hover img {
	opacity:0.7;
   -moz-transform:scale(2,2);
   -webkit-transform:scale(2,2);
   -o-transform:scale(2,2);
   -ms-transform:scale(2,2);
   transform:scale(2,2);
}
.effect:hover .mask {
   background: #0677bd;
   width: 100%;
   height: 100%;
   opacity: 0.8;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.effect:hover a.info {
	opacity:1;
   -moz-transform:translateY(70px);
   -webkit-transform:translateY(70px);
   -o-transform:translateY(70px);
   -ms-transform:translateY(70px);
   transform:translateY(70px);
}
.effect:hover a.img-name {
   opacity:1;
   -moz-transform:translateY(70px);
   -webkit-transform:translateY(70px);
   -o-transform:translateY(70px);
   -ms-transform:translateY(70px);
   transform:translateY(70px);
}

.body-bottom .effect img {
   opacity:1;
}
.body-bottom .effect:hover img {
   -moz-transform:scale(1,1);
   -webkit-transform:scale(1,1);
   -o-transform:scale(1,1);
   -ms-transform:scale(1,1);
   transform:scale(1,1);
}
.body-bottom .effect .mask {
   opacity:0;
   overflow:visible;
   width:0;
   height:0;
   -moz-transform:translateX(-125px);
   -webkit-transform:translateX(-125px);
   -o-transform:translateX(-125px);
   -ms-transform:translateX(-125px);
   transform:translateX(-125px);
   -moz-transition: -moz-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   -webkit-transition: -webkit-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   -o-transition: -o-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   -ms-transition: -ms-transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
   transition: transform 0.4s 0.1s ease-out, opacity 0.3s ease-in-out;
}
.body-bottom .effect:hover .mask {
   background: #0677bd;
   width: 100%;
   height: 100%;
   opacity: 0.7;
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
/* Contact popup */

.contact-popup{
	width: 300px;
	height: 100%;
	position: fixed;
	background: #1d344e;
	z-index: 9999;
	right: -300px;
	overflow-y: auto;
}
.contact-popup .contact-popup-title{
	height: 60px;
	border-bottom: 1px solid #FFF;
}
.contact-popup .contact-popup-title .contact-popup-text{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.contact-popup .contact-popup-title .contact-popup-close{
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	color: #FFF;
	font-size: 20px;
	cursor: pointer;
	transition: 0.4s ease;
}
.contact-popup .contact-popup-title .contact-popup-close:hover{
	color: #FF0000;
}
.stay-intouch{
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
	color: #9ba7b2;
	font-weight: bold;
}
.contact-popup .form-contact-popup{
	text-align: center;
}
.contact-popup .frm-con{
	border: none;
	width: 100%;
	border-left: 3px solid #022466;
	background: #3e5268;
	padding: 7px 10px;
	margin-bottom: 5px;
	color: #FFF;
	font-weight: bold;
	resize: none;
}
.contact-popup textarea.frm-con{
	resize: none;
	height: 100px;
}
.contact-popup .frm-con::-webkit-input-placeholder {
    color:    #FFF;
    font-weight: bold;
}
.contact-popup .frm-con:-moz-placeholder {
    color:    #FFF;
    font-weight: bold;
}
.contact-popup .frm-con::-moz-placeholder {
    color:    #FFF;
    font-weight: bold;
}
.contact-popup .frm-con:-ms-input-placeholder {
    color:    #FFF;
    font-weight: bold;
}
.contact-popup .btn-contact{
	background: #0b44a0;
	color: #FFF;
	border-radius: 5px;
	border: none;
	padding: 5px 20px;
	font-weight: bold;
}
.contact-popup .popup-contact-info{
	padding-top: 30px;
	padding: 10px;
	color: #FFF;
}
.contact-popup .popup-contact-info .con-info-text{
	font-weight: bold;
	font-size: 14px;
}
.contact-popup .social{
	padding-left: 10px;
}
.contact-popup .icon-button{
	background-color: #FFF;
}
.con-pop-copy{
	color: #FFF;
}
.show-contact{
	cursor: pointer;
}
.contact-popup::-webkit-scrollbar {
    width: 0px;
}

