.wrapper .content-body-nohome{
	padding-top: 60px;
}
.wrapper .content-body-nohome .body-top{
	background: url("../images/top_03.jpg");
	padding: 40px;
}
.wrapper .content-body-nohome .body-top-title{
	text-align: center;
	color: #FFF;
	font-size: 32px;
}
.wrapper .content-body-nohome .body-menu{
	text-align: center;
}
.wrapper .content-body-nohome .body-menu ul{
	list-style: none;
	padding: 0;
}
.wrapper .content-body-nohome .body-menu ul li{
	display: inline;
	padding: 2px;
	color: #FFF;
}
.wrapper .content-body-nohome .body-menu ul li a{
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}
.wrapper .content-body-nohome .body-menu ul li a:hover{
	color: #FFF;
	border-bottom: 2px solid #FFF;
}
.wrapper .content-body-nohome .body-middle{
	padding-top: 30px;
}
.wrapper .content-body-nohome .pro-image img{
	width: 100%;
	height: 490px;
}
.wrapper .content-body-nohome .text-info{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #0000FF;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.wrapper .content-body-nohome .pro-info .content-info{
	background: #f8f8f8;
	padding: 10px;
}
.wrapper .content-body-nohome .pro-info .content-info .text-blue{
	color: #0000FF;
	font-weight: bold;
}
.wrapper .content-body-nohome .content-des-info{
	padding-top: 30px;
}
 .wrapper .content-body-nohome .content-des-info .text-des-info p{
 	font-size: 14px;
 	line-height: 24px;
 }
.wrapper .content-contact-footer .cf-contact{
	background: url("../images/top_bg.jpg") repeat;
	padding: 18px 30px;
}
.wrapper .content-contact-footer .ccf-left{
	float: left;
	color: #FFF;
	/*padding-top: 21px;
	padding-left: 30px;
	padding-bottom: 18px;*/
}
.wrapper .content-contact-footer .ccf-right{
	float: right;
	/*background: url("../images/top_bgright.jpg") no-repeat;*/
	/*width: 180px;*/
	/*text-align: center;*/
	/*padding-top: 19px;*/
	/*padding-bottom: 18px;*/
}
.wrapper .content-contact-footer .ccf-right a{
	color: #FFF;
	font-size: 16px;
	text-decoration: underline;
}
.wrapper .content-contact-footer .ccf-right a:hover{
	font-weight: bold;
}