.wrapper .content-body-nohome{
	padding-top: 60px;
}
.wrapper .content-body-nohome .body-top{
	background: url("../images/top_03.jpg");
	padding: 40px;
}
.wrapper .content-body-nohome .body-top-title{
	text-align: center;
	color: #FFF;
	font-size: 32px;
}
.wrapper .content-body-nohome .body-menu{
	text-align: center;
}
.wrapper .content-body-nohome .body-menu ul{
	list-style: none;
	padding: 0;
}
.wrapper .content-body-nohome .body-menu ul li{
	display: inline;
	padding: 2px;
	color: #FFF;
}
.wrapper .content-body-nohome .body-menu ul li a{
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}
.wrapper .content-body-nohome .body-menu ul li a:hover{
	color: #FFF;
	border-bottom: 2px solid #FFF;
}
.wrapper .content-body-nohome .body-middle{
	width: 100%;
	background: #FFF;
	padding-top: 30px;
}
.wrapper .content-body-nohome .body-middle img{
	width: 100%;
	height: 250px;
	border:none;
}
.wrapper .content-body-nohome .content-promo{
	margin-bottom: 10px;
}
.wrapper .content-body-nohome .promo-data{
	padding-top: 10px;
}
.wrapper .content-body-nohome .promo-title{
	color: #000;
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 14px;
}
.wrapper .content-body-nohome .promo-des{
	font-size: 12px;
	line-height: 22px;
}
.wrapper .content-contact-footer .cf-contact{
	background: url("../images/top_bg.jpg") repeat;
	padding: 18px 30px;
}
.wrapper .content-contact-footer .ccf-left{
	float: left;
	color: #FFF;
	/*padding-top: 21px;
	padding-left: 30px;
	padding-bottom: 18px;*/
}
.wrapper .content-contact-footer .ccf-right{
	float: right;
	/*background: url("../images/top_bgright.jpg") no-repeat;*/
	/*width: 180px;*/
	/*text-align: center;*/
	/*padding-top: 19px;*/
	/*padding-bottom: 18px;*/
}
.wrapper .content-contact-footer .ccf-right a{
	color: #FFF;
	font-size: 16px;
	text-decoration: underline;
}
.wrapper .content-contact-footer .ccf-right a:hover{
	font-weight: bold;
}