
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.c-slider{
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
}
.wrapper .content-slider{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -2;
	background: rgb(3, 105, 179) none repeat scroll 0% 0%
}
.slide-loading{
	position: absolute;
	top: 0px;
	left: 0px;
}
.loading1{
	filter: alpha(opacity=70);
	opacity: 0.7;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.loading2{
	position:absolute;
	display:block;
	background:url('../img/loading.gif') no-repeat center center;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.c-img-slide{
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -2;
}
.navigat{
	bottom:16px;
	right:16px;
}
#navigat1{
	width:16px;
	height:16px;
}
.arrow-slide-left{
	top:0px;
	left:12px;
	width:40px;
	height:58px;
}
.arrow-slide-right{
	top:0px;
	right:12px;
	width:40px;
	height:58px;
}
.slide-contact{
	position: fixed;
	color: #FFF;
	right: 0;
	z-index: -1;
	background: -webkit-linear-gradient(left,rgba(0,0,255,0), #0a4ccc);
    background: -o-linear-gradient(right, rgba(0,0,255,0), #0a4ccc);
    background: -moz-linear-gradient(right, rgba(0,0,255,0), #0a4ccc);
    background: linear-gradient(to right, rgba(0,0,255,0), #0a4ccc);
}
.slide-contact-span1{
	font-size: 19px;
	margin-right: 25px;
	color: #ffffff;
}
.slide-contact-span2{
	font-size: 20px;
	border-radius: 50px;
	border: 2px solid #FFF;
	padding: 3px 8px;
	margin-right: 25px;
	color: #ffffff;
}
.slide-contact-span3{
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
	color: #ffffff;
}
.slide-contact-span4{
	font-size: 19px;
	font-weight: bold;
	color: #ffffff;
}
.slide-contact-span5{
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	color: #ffffff;
}

.content-text-digital{
	position: fixed;
	top: 290px;
	left: 70px;
	z-index: -1;
}
.slide-text{
	font-style: italic;
	color: #ffffff;
	text-shadow: 2px 2px 8px #000000;
}
.slide-text3{
	color: #e7e8ea;
	text-transform: uppercase;
}